body {
  background-color: #111111;
  font-family: "consolas";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-left: 10%;
  margin-top: 5%;
}

.item {
  padding-bottom: 25px;
}

.header, .spacer, p {
  color: #383838 !important;
  width: inherit !important;
  white-space: inherit !important;
}

.spacer {
  display: inline;
  padding-right: 5px;
}

.line::before {
  content: "#-------------------------------------------";
}

.tag {
  color: white;
  width: 1px;
  white-space: nowrap;
  padding-right: 5px
}

td, a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.copy {
  color: white !important;
}

td:nth-child(2) {
  display: inline-flex;
}

.delay1 {
  animation-delay: 0.30s;
}

.delay2 {
  animation-delay: 0.60s;
}

.delay3 {
  animation-delay: 0.90s;
}

.delay4 {
  animation-delay: 1.20s;
}

.delay5 {
  animation-delay: 1.50s;
}
