<nav class="c-navigation">
  <div class="c-navigation__container">
    <a class="c-navigation__title " 
       href="{{ site.url }}" > {{ site.title }} </span>
    <span class="c-navigation__links ">
      <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Blog</a>
      <a class="c-navigation__item {% if page.url == '/projects/' %}is-active{% endif %}" href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a>
      <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    </span>
  </div>
</nav>
