<a href="@GetPath()" class="post-item">
    <div class="post-title">@Data?.Title</div>
    <div class="post-date">@Data?.Date</div>
</a>

@code {
    [Parameter, EditorRequired]
    public Blog.Models.Post? Data { get; set; }

    public string GetPath() => Data.IsExternal ? $"{Data?.Path}" : $"/{Data?.Path}";
}