/* ==========================================================================
   Article
   ========================================================================== */

// .c-article {
//   box-sizing: content-box;
//   height: 100%;
//   min-height: 100%;
// }

h2 {
  font-size: 1.2em
}

h3 {
  font-size: 1.15em
}

.c-article__main {
  max-width: 76rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  // padding-top: 7.5rem;
  padding-top: 6.0rem;
  padding-bottom: 4.0rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__light-grey;
  }
}
