/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  background: $c__dark-grey;

  p {
    // line-height: $footer_height;
    // vertical-align: middle;
    @include fs--meta;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }

}

.c-footer__container {
  background-color: $c__dark_grey;
  min-height: $footer_height;
}

.c-footer__content {
  max-width: 10em;
  margin-left: 5em;
}

