// image-zoom.scss

.image-zoom {
  text-align: center;
  padding: 1em 0;
}

.image-zoom-img {
  border-style: solid;
  border-width: 2px;
  border-color: hsla(200, 70%, 85%, 0.0);
}

.image-zoom-caption {
  font-weight: bold;
  font-size: 0.95em;
}

.image-zoom {
  text-align: center;
}

.image-zoom > img:hover {
  border-color: hsla(200, 70%, 85%, 1.0);
}

// place popup image over viewport and dim background
#image-popup {
  position: fixed;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

// image centered inside screen
#image-popup-figure {
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// fit image inside screen and keep aspect ratio
#image-popup-img {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}


#image-popup-link {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  color: rgb(255, 255, 255);
  font-size: 2.0rem;
  padding: 0.5rem;
  z-index: 20;
  background: rgba(0,0,0, 0.5);
}

// #image-popup-caption {
//   max-width: 100%;
//   color: rgb(255, 255, 255);
//   font-size: 2.5em;
//   display: block;
//   padding: 0.5em;
//   z-index: 20;
//   background: rgba(0,0,0, 0.5);
// }
